@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css - Typography & Base Settings */
@font-face {
  font-family: 'sf';
  src: url('./assets/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfb';
  src: url('./assets/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'sf', sans-serif;
  }
}

/* Typography Classes */
.logintitle {
  @apply
  text-2xl 
  mb-6 
  text-center 
  text-white;
}

.phone, .password {
  @apply
  block 
  text-sm 
  font-medium 
  text-white 
  mb-1;
}
