@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sf';
  src: url('./assets/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfb';
  src: url('./assets/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'sf', sans-serif;
  }

  body {
    @apply 
    bg-cover
    bg-no-repeat
    bg-[url(/src/assets/jiran.jpg)]
  }
}
}

/* src/index.css - Navbar Layout */
.dashnava {
  @apply
  border-b-[1px]
  max-w-6xl 
  mx-auto 
  px-4 
  py-4 
  flex 
  justify-between 
  items-center;
}

.dashnava h1 {
  font-family: 'sfb', sans-serif; /* Font Face */
  @apply
  text-[25px]
  tracking-wide;
}

