@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sf';
  src: url('./assets/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfb';
  src: url('./assets/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'sf', sans-serif;
  }

  body {
    @apply 
    bg-cover
    bg-no-repeat
    bg-[url(/src/assets/jiran.jpg)]
  }
}
